
.students-page {
    display: flex;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
  }
  
  
  
  .student-form {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 40rem;
  }
  
  .student-form .form-control {
    margin-bottom: 15px;
  }
  
  .student-form .form-control label {
    display: block;
    margin-bottom: 5px;
    color:white;
  }
  
  .student-form .form-control input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .student-form .register-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .student-form .register-button:hover {
    background-color: #0056b3;
  }
  
  .students-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  .title{
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .student-card {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
    font-size: 1.5rem;
  }
  
  .student-card h3 {
    margin: 0 0 10px 0;
    color: #007bff;
  }
  
  .student-card p {
    margin: 5px 0;
    color: #333;
  }
  